.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px;
}
.title{
    margin-left: 0px;
}
.delete{
   margin-right: 5%;
}
.list{
    display: flex;

}
.add{
    margin: 5%;
}